
<% layout("/layouts/boilerplate")  -%>



    <!-- <h1>location id :<%= iddata._id %></h1> -->
     <h3><%= iddata.title %></h3>

<div class="row mt-4">

     <div class="card col-6 offset-2">
      
            <img src="<%= iddata.image %>" class="card-img-top show-img" alt="Listing Image">
            <div class="card-body">
              <p class="card-text">
                <b><%= iddata.title %></b> <br>
                <%=  iddata.description %><br>
                <%= iddata.price ? iddata.price.toLocaleString("en-IN") : "N/A" %><br>


                <%= iddata.location %><br>
                <%= iddata.country %>

              </p>
            </div>
          </div>

<div class="btns">
    <a href="/listings/<%= iddata._id %>/edit" class="btn btn-dark col-1 offset-2 editBtn">Edit Your Listings</a>


    <form action="/listings/<%= iddata._id %>?_method=DELETE" method="POST">
        <button class="btn btn-dark  offset-4">Detele this listing</button>
    </form>
</div>

<!-- review section -->
 <div class="col-8 offset-3 mb-3">
  <hr/>
  <h4>Leave a Review</h4>
  <form action="/listings/<% = iddata.id %>/review" method="POST">
    <div class="mb-3 mt-3">
      <label for="rating" class="form-label">Rating</label>
      <input type="text"
      type="range"
      min="1"
      id="rating"
      name="review[rating]"
      class="form-range">
    </div>
  </form>
 </div>

    
</div>
</div>

</body>
</html>